<article>

<a href='{{permalink}}' class='permalink'>link</a>
<em class='title'>{{title}}</em>
<time class='date'>{{date}}</time>
<p class='content'>{{&content}}</p>
<p class='tags'>
{{tags}}
</p>


</article>
